body {
    background-color: #3e463e;
    font-family: system-ui;
    color: white;
    padding: 1rem;
    font-size: 16px;
    line-height: 24px;
}

.engine-minute,
.engine-team,
.engine-goal-attempt,
.engine-goal,
.engine-counter-attack,
.engine-corner,
.engine-penalty-kick,
.engine-free-kick,
.engine-long-shot-attempt {
    font-weight: 700;
}

.engine-team {
    color: #d6c096;
}

a {
  color: #95bb79;
}